<div class="alert alert-success collapse" id="successAlert" role="alert">Welcome <span id="user-name"></span>
</div>

<script type="template" id="user-name-template">
    {%raw%}
    {{name}}
    {%endraw%}



</script>
