<div class="row">
    <div class="col-sm">ID</div>
    <div class="col-sm">Position</div>
    <div class="col-sm">Title</div>
    <div class="col-sm">Description</div>
    <div class="col-sm">Author</div>
    <div class="col-sm">Created date</div>
    <div class="col-sm">Genre</div>
    <div class="col-sm">Type</div>
    <div class="col-sm"><div class="btn btn-danger">delete</div></div>
</div>
