<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Position</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Date</th>
      <th scope="col">Genre</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group">
<!--     <tr>
  <td class="id">1</td>
  <td class="position">1</td>
  <td class="title">JavaScript Design Patterns</td>
  <td class="description">Design patterns are reusable solutions to commonly occurring problems in software design</td>
  <td class="author">Addy Osmani</td>
  <td class="date">30.07.2018</td>
  <td class="genre">Genre</td>
  <td class="type">Public</td>
  <td class="delete"><button class="btn btn-danger">delete</button></td>
</tr>
<tr>
  <td>2</td>
  <td>2</td>
  <td>Fahrenheit 451</td>
  <td>Fahrenheit 451 is a dystopian novel by American writer Ray Bradbury</td>
  <td>Ray Bradbury</td>
  <td>30.07.2018</td>
  <td>Dystopian</td>
  <td>Public</td>
  <td><button class="btn btn-danger">delete</button></td>
</tr> -->
    <template id="comment-template">
      <tr class="table-book">
        <td class="id">1</td>
        <td class="position">1</td>
        <td class="title">JavaScript Design Patterns</td>
        <td class="description">Design patterns are reusable solutions to commonly occurring problems in software design</td>
        <td class="author">Addy Osmani</td>
        <td class="date">30.07.2018</td>
        <td class="genre">Genre</td>
        <td class="type">Public</td>
        <td class="delete"><button class="btn btn-danger">delete</button></td>
      </tr>
    </template>

  </tbody>
</table>

<!-- <div id="box">

</div> -->
<!-- <script type="mustache/x-tmpl" id="helloTmpl">
    <h1> {{ title }} </h1>
    <h1> {{ description }} </h1>
</script> -->
